- name: Load required variables based on the OS type
  ansible.builtin.include_vars:
    file: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution | lower }}-{{ ansible_distribution_major_version }}.yml"
    - "{{ ansible_distribution | lower }}-{{ ansible_distribution_version }}.yml"
    - "{{ ansible_distribution | lower }}-{{ ansible_distribution_release }}.yml"
    - "{{ ansible_distribution | lower }}.yml"
    - "{{ ansible_os_family | lower }}.yml"
  tags:
    - always

- name: OS specific setup
  ansible.builtin.include_tasks:
    file: "{{ item }}"
    apply:
      tags:
        - install
  with_first_found:
    - "setup-{{ ansible_distribution | lower }}-{{ ansible_distribution_major_version }}.yml"
    - "setup-{{ ansible_distribution | lower }}-{{ ansible_distribution_version }}.yml"
    - "setup-{{ ansible_distribution | lower }}-{{ ansible_distribution_release }}.yml"
    - "setup-{{ ansible_distribution | lower }}.yml"
    - "setup-{{ ansible_os_family | lower }}.yml"
  tags:
    - install

- name: "Install optional packages"
  ansible.builtin.package:
    pkg: "{{ harden_linux_optional_packages }}"
    state: present
  when: harden_linux_optional_packages is defined
  retries: 2
  delay: 5
  tags:
    - install

- name: Ensure files absent
  ansible.builtin.file:
    path: "{{ file_to_delete }}"
    state: absent
  loop: "{{ harden_linux_files_to_delete }}"
  loop_control:
    loop_var: file_to_delete

- name: Setup NTP related services
  ansible.builtin.include_tasks:
    file: "ntp_{{ harden_linux_ntp }}.yml"
    apply:
      tags:
        - ntpd
  when:
    - harden_linux_ntp is defined
  tags:
    - ntpd

- name: Setup deploy user
  ansible.builtin.include_tasks:
    file: "deployuser.yml"
    apply:
      tags:
        - user
        - sudo
  tags:
    - user
    - sudo

- name: Combine harden_linux_sshd_settings and harden_linux_sshd_settings_user (if defined)
  ansible.builtin.set_fact:
    harden_linux_sshd_settings: "{{ harden_linux_sshd_settings | combine(harden_linux_sshd_settings_user | default({})) }}"
  tags:
    - ssh

- name: Ensure sshd_config setting
  ansible.builtin.lineinfile:
    dest: "/etc/ssh/sshd_config"
    regexp: "{{ item }}"
    line: "{{ harden_linux_sshd_settings[item] }}"
    state: "present"
  notify: "Restart ssh"
  loop: "{{ harden_linux_sshd_settings | flatten }}"
  tags:
    - ssh

- name: Combine harden_linux_sysctl_settings and harden_linux_sysctl_settings_user (if defined)
  ansible.builtin.set_fact:
    harden_linux_sysctl_settings: "{{ harden_linux_sysctl_settings | combine(harden_linux_sysctl_settings_user | default({})) }}"
  tags:
    - sysctl

- name: Sysctl settings
  ansible.builtin.sysctl:
    name: "{{ item }}"
    value: "{{ harden_linux_sysctl_settings[item] }}"
    sysctl_set: true
  loop: "{{ harden_linux_sysctl_settings | flatten }}"
  tags:
    - sysctl

- name: Setup UFW
  ansible.builtin.include_tasks:
    file: "ufw.yml"
    apply:
      tags:
        - ufw
  tags:
    - ufw

- name: Setup sshguard
  ansible.builtin.include_tasks:
    file: "sshguard.yml"
    apply:
      tags:
        - sshguard
  tags:
    - sshguard

- name: Change root password
  ansible.builtin.user:
    name: "root"
    password: "{{ harden_linux_root_password }}"
  when: harden_linux_root_password is defined
  tags:
    - user
