[Resolve]
{%- for value in harden_linux_systemd_resolved_settings %}                                                                 
{{ value }}                                                                                   
{%- endfor %}
